.git
.gitignore
.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.p12
id_rsa
id_rsa.pub
node_modules
.next
dist
coverage
Dockerfile
Dockerfile.development
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
