.git
.gitignore
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/*.pem
**/*.key
**/*.crt
**/*.p12
**/id_rsa
**/id_rsa.pub
node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
target
Dockerfile
Dockerfile.development
docker-compose*.yml
.dockerignore
!.cargo/
