@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: var(--color-gray-800);

  /* Safari fixes */
  -webkit-overflow-scrolling: touch;
  min-height: -webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  /* Default theme */
  background: url(/so-white.png);
  background-repeat: repeat;
  background-size: 200px;
  color: hsl(0,0%,95%);
}

html, body {
  height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
}
