body {
  margin: 0;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: hsl(0,0%,20%);
}

body * {
  box-sizing: border-box;
}

code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

[hidden=true] {
  max-width: 0;
  max-height: 0;
  opacity: 0;
}